<html>
  <head>
    <meta charset='utf-8' />
    <title>{{pageTitle}}</title>
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href={{cssPath}} />
    <link rel='stylesheet' href={{additionalCss}} />
  </head>
  <body>
     <header class="header">
        <nav class="main-nav">
            <ul class="nav-list">
                <li><a href="/" class="nav-link">Shop</a></li>
                <li><a href="/products" class="nav-link">Products</a></li>
                <li><a href="/cart" class="nav-link">Cart</a></li>
                <li><a href="/orders" class="nav-link">Orders</a></li>
                <li><a href="/admin/add-product" class="nav-link">Add Product</a></li>
                <li><a href="/admin/products" class="nav-link">Admin Products</a></li>

            </ul>
    </header>

    {{{body}}}

  </body>
</html>