{{!< main}}
{{#*inline "title"}}Welcome to {{shopName}}{{/inline}}

<header class="shop-hero">
    <div class="container">
        <h1>Welcome to {{shopName}}</h1>
    </div>
</header>


<footer class="shop-footer">
    <div class="container">
        <p>© {{year}} {{shopName}}</p>
    </div>
</footer>
